html{
  scroll-behavior: smooth; 
}
body {
  background-color: #153d3f;
  padding: 20px;
  
}

.head {
  text-align: center;
  color: aliceblue;
  font-family: 'Dancing Script', cursive;

}

.container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 60%;
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  max-width: 100%;

  height: auto;
  
}

.icon {

  position: absolute;
  top: 13%;
  left: 41%;
  transform: translate(-50%, -50%);
  font-family: 'Dancing Script', cursive;

  cursor: pointer;
  margin: auto;
  color: white;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  line-height: 150px;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  transition: 0.24s 0.2s;
}



.menu {
  position: absolute;
  top: -75px;
  left: -75px;
  border: 150px solid transparent;
  cursor: default;
  border-radius: 50%;
  transform: scale(0);
  transition: transform 1.4s 0.07s;
  z-index: -5;
}

.spread {
  position: absolute;
  top: -100px;
  left: -100px;
  transform-origin: 100px 100px;
  transition: all 0.5s 0.1s;
}


.icon:hover .menu {
  transition: transform 0.4s 0.08s, z-index 0s 0.5s;
  transform: scale(1);
  z-index: 5;
}

.icon:hover .spread,
.icon:hover .unit {
  transition: all 0.6s;
}

.icon:hover .spread:nth-child(1) {
  transition-delay: 0.02s;
  transform: rotate(105deg);
}

.icon:hover .spread:nth-child(1) .unit {
  transition-delay: 0.04s;
  transform: rotate(615deg);
}

.icon:hover .spread:nth-child(2) {
  transition-delay: 0.04s;
  transform: rotate(165deg);
}

.icon:hover .spread:nth-child(2) .unit {
  transition-delay: 0.08s;
  transform: rotate(555deg);
}

.icon:hover .spread:nth-child(3) {
  transition-delay: 0.06s;
  transform: rotate(225deg);
}

.icon:hover .spread:nth-child(3) .unit {
  transition-delay: 0.12s;
  transform: rotate(495deg);
}

.icon:hover .spread:nth-child(4) {
  transition-delay: 0.08s;
  transform: rotate(285deg);
}

.icon:hover .spread:nth-child(4) .unit {
  transition-delay: 0.16s;
  transform: rotate(435deg);
}

.icon:hover .spread:nth-child(5) {
  transition-delay: 0.1s;
  transform: rotate(345deg);
}

.icon:hover .spread:nth-child(5) .unit {
  transition-delay: 0.2s;
  transform: rotate(375deg);
}

.icon:hover .spread:nth-child(6) {
  transition-delay: 0.12s;
  transform: rotate(405deg);
}

.icon:hover .spread:nth-child(6) .unit {
  transition-delay: 0.24s;
  transform: rotate(315deg);
}


.unit {
  position: absolute;

  font-size: 60%;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: white;
  border-radius: 50%;
  transition: 0.6s;
}

.texts .container>div {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  color: aliceblue;
}

.texts .container>div>h1 {
  align-self: center;
  padding-bottom: 30px;
  padding-top: 30px;
}

.texts .container>div>div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.texts .container>div>div>img {
  margin-right: 20px;
  max-width: 400px;
  max-height: 400;
  object-fit: cover;
  
}

.texts .container>div>div>p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Dancing Script', cursive;
  font-family: 'Playfair Display', serif;
  font-size: medium;
  
}

#myBtn {
  display: none; 
  position: fixed;
  bottom: 20px; 
  right: 30px; 
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color:white;
  
  color: #153d3f; 
  cursor: pointer; 
  padding: 15px; 
  border-radius: 10px; 
  font-size: 15; 
}

#myBtn:hover {
  background-color: #555; 
}

footer {
  height: 50px;
  background-color: #153d3f;
  color: aliceblue;
  text-align: center;
  padding: 0;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}